<header align="center" data-title="{{ title }}">
  <img src="assets/title.svg" />
  <p>{{ description }}</p>
</header>

---

> Last Updated: {{ date }}

<u><h4>Contents</h4></u>

<!-- @import "[TOC]" {cmd="toc" depthFrom=1 depthTo=6 orderedList=false} -->

<!-- code_chunk_output -->

{{#if categories}}
{{#each categories}}
- [{{this.name}}](#{{kebab this.name}})
{{/each}}
{{/if}}

<!-- /code_chunk_output -->

<!-- _Additional Notes Here_ -->

---

{{#if categories}}
{{#each categories}}
## {{this.name}}

|Name|Description|
|---|---|
{{#if this.items}}
{{#each this.items}}
{{#if this.link}}
|[{{this.name}}]({{this.link}})|{{this.description}}|
{{else}}
|{{this.name}}|{{this.description}}|
{{/if}}
{{/each}}
{{else}}
|||
{{/if}}

{{/each}}
{{/if}}